bandit
codespell
coverage
flask
grayskull
mkdocs-git-revision-date-plugin
mkdocs-material
mknotebooks
mypy
nbconvert
notebook
pipdeptree
pre-commit
pylint
pytest
pymdown-extensions
selenium
twine
wheel
